.div_logo {
  margin-bottom: 8rem auto;
}
.div_logo img {
  width: 12rem;
  height: 4.8rem;
}
.div_content_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 20rem;
  width: 68rem;
  height: 73.6rem;
}
.text_area {
  height: 100%;
}
textarea {
  all: unset;
  width: 100%;
  height: 50%;

  word-wrap: break-word;

  color: #0a3871;
  font-family: Inter;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.alert_span {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
.alert_span img {
  width: 1.6rem;
  height: 1.6rem;
}
span {
  color: var(--Gray-gray-400, #495057);
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
